h1 {
    font-size: 20pt;
    color: #00008b
}

h2 {
    font-size: 15pt;
    color: red
}

P {
    font-size: 14pt;
    font-family: arial;
    text-indent: 0.5in
}

body {
    background-color: lightblue;
    margin-left: 0.5in
}